/*
#172040
#fcfcfc
#c1def0
#86c1e5
#4ba4da
*/

header {
    background-color: #172040;
    display: grid;
    grid-template-columns: auto 45vw;
    grid-template-rows: 400px auto;
    height: auto;
    color: #fcfcfc;
    width: 100%;
}

h2 {
    font-family: "Mate";
    text-align: center;
}

.logo {
    height: 350px;
}

.text {
    grid-row: 1 / span 2;
    grid-column: 2;
    align-self: center;
    margin: 7vw;
}


.additional {
    justify-self: center;
    align-self: center;
    object-fit: cover;
    border-radius: 2500px;
    margin-bottom: 2vw;
}

@media only screen and (max-width: 1200px) {
    header {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }

    .text {
        grid-row: 2;
        grid-column: 1;
        align-self: center;
        margin: 10vw 4vw;
    }

    .logo {
        justify-self: center;
        align-self: center;
        width: 95vw;
        height: auto;
    }

    .additional {
        justify-self: center;
        width: 90vw;
        height: 90vw;
        margin: 5vw;
    }
}